body{
    background: #F5f7f8;
}

#pagina{
  height: 700px;
  display: grid;
  grid-template-areas: "cabecera cabecera"
                        "navegacion cuerpo"
                        "navegacion pie";
 column-gap: 20px;
 row-gap: 10px;
 grid-template-rows: 200px 1fr 100px;
 /* grid-template-rows: repeat(3,1fr); */
 grid-template-columns: 200px 1fr ;
}


header{
 background-color: firebrick;
 grid-area: cabecera;
}

nav{
 background-color: cadetblue;
 grid-area: navegacion;
}

section{
background-color: mediumorchid;
grid-area: cuerpo;
}

footer{
background-color: blue;
grid-area: pie;
}

